@import "bourbon";
@import "neat";
html{
  padding-top: 20px;
  font-family: $helvetica;
  @include background-image(linear-gradient(#47355e 0%, #553e62 35%, #644769 50%, #976a7f 100%));
  height: 100%;
  color: white;
}
header{
    text-shadow: 0px 2px 10px rgba(0,0,0,0.5);
  @include outer-container();
  strong{
  @include span-columns(3);
    font-size: 200%;
    font-weight: 100;
    color: #ffffff;
  }
  p{
    @include span-columns(3);
    @include shift(6);
    font-weight: 200;
  }
  i {
    color: #fcbc91;
  }
}
#container {
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
height: auto;
min-height: 300px;
}
